streamlit==1.46.0
gspread==6.1.2
oauth2client==4.1.3
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.146.0
pandas==2.3.0
numpy>=1.26
Pillow>=10.0
